@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

/* 초기화 */
* {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

body {
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(254, 232, 108), rgb(132, 241, 188));

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    /* background-color: white; */
    display: flex;
    gap: 60px;
    align-items: center;
}

h1 {
    font-weight: normal;
    font-family: 'Neonderthaw', cursive;
    color: green;
    /* 단어를 깨지 않고 최소로 들어갈 수 있는 크기로 맞춘다. => 단어 기준으로 줄바꿈이 발생한다. */
    width: min-content;
    line-height: 0.7;
    font-size: 160px;
    text-align: center;
    /* 폰트에 따라 라인하이트가 조금씩 달라서 글자가 가운데에 오게끔 조정했음 */
    margin-top: -0.3em;
}

h1 span {
    font-size: 0.7em;
    color: white;
}

section {
    background-color: white;
    width: 400px;
}

.drop-target {
    padding: 20px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.drag-item {
    border: 1px solid #ddd;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drag-item p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.drag-item img {
    width: 48px;
    /* height: 48px; */
    /* 위의 height 대신에 아래 코드 작성해도 됨 */
    aspect-ratio: 1;

    object-fit: cover;
    border-radius: 50%;

    /* 이미지는 기본적으로 드래그가 가능해서, 이미지 개별 drag가 안되도록 해제한다. */
    pointer-events: none;
}

.drag-item~li {
    margin-top: 10px;
}

/* dragging */
.drag-item.dragging {
    border: 1px dashed #ccc;
    background-color: #f5f5f5;
}

/* 드래깅된 요소의 직계 하위요소들 */
.drag-item.dragging>* {
    /* 약간 투명하게 표현. */
    opacity: 0.2;
}