body {
    background-color: skyblue;
}

p,
a {
    color: inherit;
}

a {
    text-decoration: none;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.card1 {
    width: 288px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
    /* display: inline-block; */
}

.card-ui img {
    width: 100%;
    aspect-ratio: 288/196;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.content {
    margin: 20px 16px;
}

.content .title {
    font-weight: Bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.content .des {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}