@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

.spoka * {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

p,
a {
    font: inherit;
    margin: 0;
    color: #000;
}

a {
    text-decoration: none;
}

.layout-login {
    background: #FFF;
    width: 350px;
    border: 1px solid #eee;
    border-radius: 5px;
    /* display: flex; */
}

.wellcome {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.login {
    width: 318px;
    height: 40px;
    flex-shrink: 0;
    background-color: #711BFF;
    color: #FFF;
    text-align: center;
    justify-content: center;
}

.login img {
    padding-top: 10px;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 17px;
}

.link-id,
.link-pw,
.link-join {
    color: #767676;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}